@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Começar por tudo que não é flex-box  */
/* ============= PRIMEIRO ============= */
body {
    font-size: 1em;
    line-height: 1.5em;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: gray;
    /* ==================================== */
    /* ======== TERCEIRO: flex-flow ======= */
    display: flex;
    flex-flow: column nowrap;
    /* ==================================== */
}

section > article {
    /* ======== SEGUNDO: add bordas ======= */
    border: 2px dashed green;
    /* ==================================== */
}

article.text-media {
    /* ======= QUARTO: flex nos itens ===== */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    /* ==================================== */
}

article > div.text {
    /* ======= QUARTO: flex nos itens ===== */
    flex: 1 1 500px;
    /* ==================================== */

    /* ======== QUINTO: add bordas ======== */
    border: 2px dashed blue;
    /* ==================================== */
}

article > div.media {
    /* ======= QUARTO: flex nos itens ===== */
    flex: 1 0 500px;
    /* ==================================== */

    /* ======== QUINTO: add bordas ======== */
    border: 2px dashed red;
    /* ==================================== */
}

/* ========= SEXTO: arrumar midias ========= */
div.media > img {
    display: block;
    margin: auto;
    width: 300px;
}

div.media > iframe {
    display: block;
    margin: auto;
    padding: 0px 20px;
}
/* ========================================== */