@charset "UTF-8";

/* Cinzel: serif */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Bebas Neue: sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fira Code: monoespaçada */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


body {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;

    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em

    weight: lighter normal bold bolder
    weight numerado: 100 - 900
    */
}

h1 {

    /*

    shorthand font
    - font-style -> font-weight -> font-size -> font-family          */
    
    font: italic bolder 3em 'Work Sans', sans-serif;

}

p#serif {
    font-family: "Cinzel", serif;
}

p#sans-serif {
    font-family: "Bebas Neue", sans-serif;
}

p#mono {
    font-family: "Fira Code", monospace;
}



